<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo App</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="container">
    <h1>ToDo Application</h1>
    <p class="subtitle">[ TASK MANAGER v1.0 ]</p>

    <div class="add-form">
        <form th:action="@{/add}" method="post">
            <input type="text" name="title" placeholder="TASK TITLE" required />
            <input type="text" name="description" placeholder="DESCRIPTION" />
            <button type="submit" class="btn-add">+ Add Task</button>
        </form>
    </div>

    <ul>
        <li th:each="task : ${tasks}" th:classappend="${task.isCompleted} ? 'completed'">
            <span class="task-status" th:text="${task.isCompleted} ? '✅' : '⬜'"></span>
            <div style="flex:1">
                <span class="task-title" th:text="${task.title}"></span>
                <p class="task-description" th:text="${task.description}"></p>

                <form th:action="@{/edit}" method="post" style="margin-top:8px">
                    <input type="hidden" name="id" th:value="${task.id}" />
                    <input type="text" name="title" th:value="${task.title}" class="edit-input"/>
                    <input type="text" name="description" th:value="${task.description}" class="edit-input"/>
                    <button type="submit" class="btn-edit">Update</button>
                    </form>
            </div>


            <form th:action="@{/toggle}" method="post">
                <input type="hidden" name="id" th:value="${task.id}" />
                <button type="submit" class="btn-toggle">Toggle</button>
            </form>

            <form th:action="@{/remove}" method="post">
                <input type="hidden" name="id" th:value="${task.id}" />
                <button type="submit" class="btn-delete">Delete</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>